# Ignoriere alle Ordner und Dateien im Hauptverzeichnis
*

# Mache eine Ausnahme für den docs-Ordner
!docs/

# Mache eine Ausnahme für die index.html im docs-Ordner
!docs/*
!docs/css/*
!docs/img/*
!docs/js/*

# Mache eine Ausnahme für die .gitignore-Datei selbst
!.gitignore